<div class="row indicadores">
    <div class="col-12">
        <p class="animated fadeIn"><i class="fab fa-bitcoin"></i> {{indicadores.bitcoin | currency:'USD'}}</p>
        <p class="animated fadeIn"><i class="fas fa-dollar-sign"></i> Dolar: {{indicadores.dolar | currency:'USD'}}</p>
        <p class="animated fadeIn"><i class="fas fa-euro-sign"></i> Euro: {{indicadores.euro | currency:'EUR'}}</p>
        <p class="animated fadeIn"><i class="fas fa-coins"></i> UF: {{indicadores.uf | currency:'CLP'}}</p>
        <p class="animated fadeIn"><i class="fas fa-user-tie"></i> Desempleo: {{indicadores.desempleo}} %</p>
        <p class="animated fadeIn"><i class="fas fa-mountain"></i> Cobre: {{indicadores.cobre | currency:'USD'}} %</p>
        <p class="animated fadeIn"><i class="fas fa-chart-line"></i> Imacec: {{indicadores.imacec}} %</p>
    </div>
</div>

<div class="row">

    <div class="col-12 col-md-4 logo animated slideInLeft">
        <img src="assets/img/teamLogo.svg">
    </div>

    <div class="col-12 col-md-4 noticias shadow animated fadeIn">

        <h1>{{hoy}}</h1>
        <h5>Bienvenido: {{usuario.nombre}} </h5>

        <div *ngIf="loading" class="row cargando">
            <div class="col-12 loading text-center">
                <i class="fas fa-hotdog fa-spin fa-3x"></i>
                <h3 class="animated infinite pulse">CARGANDO <br> NOTICIAS</h3>
            </div>
        </div>


        <div *ngIf="!loading && noticias.length > 0" class="row animated fadeIn ">
            <div class="col-12">

                <div *ngFor="let noticia of noticias" class="row noticia">
                    <div class="col-12">
                        <img *ngIf="noticia.photo !='' " src="{{noticia.photo}}" width="100%" class="imgNoticia">

                        <h2 class="titulo">{{noticia.titulo}}</h2>
                        <p> {{noticia.cuerpo}}</p>

                        <a *ngIf="noticia.link !='' " href="{{noticia.link}}">click aqui</a>

                        <div class="text-right">
                            <span class="badge badge-info">{{noticia.para}}</span>
                        </div>

                        <div class="fecha text-right">
                            <h3><i class="far fa-calendar-alt"></i> {{noticia.fecha | date:"dd-MM-yyy"}}</h3>
                            <h3> - <i class="far fa-clock"></i>{{noticia.fecha | date:"HH:mm"}}</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div *ngIf="!loading && noticias.length < 1" class="row animated fadeIn">
            <div class="col-12">
                <p>No hay Noticias</p>
            </div>
        </div>

    </div>

    <div class="col-12 col-md-4 conectados animated slideInRight">
        <app-lista-usuarios></app-lista-usuarios>
    </div>

</div>