<div class="row">
    <div class="col-4 logo">
        <img src="assets/img/teamLogo.svg">
    </div>

    <div class="col-4 noticias shadow">
        <h1>{{hoy}}</h1>
        <h2>Bienvenido: {{usuario.nombre}} </h2>

        <div class="row noticia animated fadeIn ">
            <div class="col-12">
                <h1>Instalación Picha</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur unde nemo repellendus atque animi laboriosam repellat harum laudantium aut voluptate in consequuntur minima vel ratione, aperiam eligendi. Ipsa, alias dolorum.</p>
                <h5 class="text-right">André Alvarez - 14:00</h5>
            </div>
        </div>

    </div>

    <div class="col-4 conectados">
        <app-lista-usuarios></app-lista-usuarios>
    </div>

</div>