<div class="row">
    <div class="col-12 col-md-4 usuarios">

        <div class="row header">
            <div class="col-12">
                <h3>{{sala}}</h3>
                <p><span>Tipo Ticket:</span> {{ticket.tipo}}</p>
                <p><span>Abierto:</span> {{ticket.fecha | date:'dd/MM/yyyy'}} - {{ticket.horaIni}}</p>
                <p><span>Consulta:</span>{{ticket.consulta}}</p>
            </div>
            <div *ngIf="user.nivel > 1 " class="col-12">
                <button class="btn btn-outline-light" (click)="info()">info</button>
            </div>
        </div>

        <div *ngIf="user.nivel > 1 " class="row  cerrar2 pointer d-none d-md-block animated slideInDown" (click)="cerrarTicket()">
            <div class="col-12 f_black text-light text-center">
                <h1><i class="fas fa-flag-checkered"></i> Cerrar Ticket</h1>
            </div>
        </div>


        <div *ngFor="let persona of conectados" class="row conectado pointer">
            <div class="col-12" (click)="selectPersona(persona)">
                <p> {{persona.nombre}} </p>
                <span *ngIf="persona.cliente != 'Gour-net'" class="badge badge-primary">{{persona.cliente}} </span>
                <span *ngIf="persona.cliente ==='Gour-net'" class="badge badge-danger">{{persona.cliente}} </span>
            </div>
        </div>

        <div class="row separador">
            <div class="col-12 ">
                <h1>En otras salas</h1>
            </div>
        </div>

        <div *ngFor="let otro of otros" class="row conectado pointer">
            <div class="col-12" (click)="selectPersona(otro)">
                <p> {{otro.nombre}} </p>
                <span *ngIf="otro.cliente ==='Gour-net'" class="badge badge-warning">{{otro.sala}} </span>
            </div>
        </div>


        <div *ngIf="conectados.length > 1" class="row cerrar pointer d-none d-md-block animated slideInDown" (click)="solicitarCierre()">
            <div class="col-12 f_pink text-light text-center">
                <h1><i class="fas fa-flag-checkered"></i> Solicitar Cerrar Ticket</h1>
            </div>
        </div>

       

    </div>

    <!--=========================================-->
    <!--=========================================-->
    <!--            Empieza el chat              -->
    <!--=========================================-->
    <!--=========================================-->
    <div class="col-12 col-md-8" id="chat-mensajes">

        <div class="row">

            <div class="col-12">
                <div *ngFor="let mensaje of mensajes" class="row burbujas">

                    <div *ngIf="mensaje.de !== user.nombre" class="col-6 burbuja1 shadow animated fadeInRight fast">
                        <h1>{{mensaje.de | titlecase}}</h1>
                        <p>{{mensaje.cuerpo}}</p>
                        <h4>{{mensaje.hora }}</h4>
                    </div>

                    <div *ngIf="mensaje.de === user.nombre && mensaje.cuerpo != 'CerrarTicket99'" class="col-6 burbuja2 shadow animated fadeInRight fast">
                        <p>{{mensaje.cuerpo}}</p>
                        <h4>{{mensaje.hora }}</h4>
                    </div>

                    <div *ngIf="mensaje.de === user.nombre && mensaje.cuerpo === 'CerrarTicket99' " class="col-6 burbuja2 shadow animated fadeInRight fast">
                        <p>Solicistaste cerrar el ticket</p>
                        <h4>{{mensaje.hora }}</h4>
                    </div>


                </div>
            </div>



            <div class="col-12 cajaTexto">
                <form class="row" (ngSubmit)="enviar()">
                    <div class="col-11">
                        <input type="text" [(ngModel)]="texto" class="form-control" name="texto" placeholder="Mensaje..." autofocus autocomplete="off">
                    </div>
                    <div class="col-1">
                        <button class="noboton" type="submit"><i class="pointer text-primary fas fa-paper-plane fa-2x"></i></button>
                    </div>
                </form>
            </div>



        </div>
        <!--fin chat-->
    </div>
</div>



<div *ngIf="modalPrivado" class="row fondoModif animated fadeIn">
    <div class="col-12 col-md-6 offset-md-6 animated slideInRight">

        <div class="row header">
            <div class="col-8">
                <h1>Mensaje <br> Privado</h1>
            </div>
            <div class="col-4 text-right" (click)="modalPrivado = !modalPrivado">
                <i class="fa fa-times fa-2x text-light pointer"></i>
            </div>
        </div>

        <div class="row f_white formPrivado">
            <div class="col-12">
                <h2>Enviar Mensaje a: </h2>
                <h3>{{persona.nombre}}</h3>
                <hr>

                <form class="row " (ngSubmit)="enviarPrivado()">
                    <div class="col-12">
                        <input type="text" [(ngModel)]="textoPrivado" class="form-control" name="privado" placeholder="Mensaje..." autofocus autocomplete="off">
                    </div>
                    <div class="col-12 pointer">
                        <button class="btn btn-primary btn-block mt-2" type="submit"><i class=" fas fa-paper-plane"></i>Enviar Privado</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>