<div class="container descargas animated fadeIn">

    <div class="row">
        <div class="col-12 col-md-4">
            <h1><i class="fas fa-book"></i> Documentos</h1>

            <a href="http://gour-net.cl/descargas/docs/instalar_webapps.pdf">
                <h3><i class="fas fa-file animated jackInTheBox"></i> Manual Instalación Apps</h3>
            </a>
            <a href="http://gour-net.cl/descargas/docs/clientes.pdf">
                <p><i class="fas fa-file"></i> Ficha pre instalacion</p>
            </a>
            <a href="http://gour-net.cl/descargas/docs/instalacion.pdf">
                <p><i class="fas fa-file"></i> Check List Instalación</p>
            </a>
            <a href="http://gour-net.cl/descargas/docs/inventario.pdf">
                <p><i class="fas fa-file"></i> Capacitacón Inventarios</p>
            </a>
            <a href="http://gour-net.cl/descargas/docs/instalar_Amipass.pdf">
                <p><i class="fas fa-file"></i> Manual AmiPass</p>
            </a>
        </div>


        <div class="col-12 col-md-4">
            <h1><i class="fas fa-desktop"></i> Archivos y Apps</h1>

            <a href="http://gour-net.cl/descargas/apps/apps.zip">
                <h4><i class="far fa-file-archive"></i> Paquete Apps</h4>
            </a>
            <a href="http://gour-net.cl/descargas/docs/Productos%20e%20insumos.xlsx">
                <p><i class="far fa-file-excel"></i> Maestro de Productos</p>
            </a>
            <a href="http://gour-net.cl/descargas/docs/recetas%20ejemplo.xlsx">
                <p><i class="far fa-file-excel"></i> Ejemplo recetas</p>
            </a>
            <a href="http://gour-net.cl/descargas/docs/blanco.rar">
                <p><i class="fas fa-database"></i> Base de datos en Blanco</p>
            </a>
            <a href="http://gour-net.cl/descargas/presentaciones/productos.pdf">
                <p><i class="fas fa-file"></i> Presentación</p>
            </a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12 ">
            <h1><i class="fas fa-image"></i> Imágenes</h1>
        </div>

        <div class="col-6 col-md-4 salon">
            <a href="http://www.gour-net.cl/descargas/salones/madera.jpg">
                <img src="http://www.gour-net.cl/descargas/salones/madera.jpg" width="100%">
            </a>
        </div>

        <div class="col-6 col-md-4 salon">
            <a href="http://www.gour-net.cl/descargas/salones/adoquines.jpg">
                <img src="http://www.gour-net.cl/descargas/salones/adoquines.jpg" width="100%">
            </a>
        </div>

        <div class="col-6 col-md-4 salon">
            <a href="http://www.gour-net.cl/descargas/salones/concreto.jpg">
                <img src="http://www.gour-net.cl/descargas/salones/concreto.jpg" width="100%">
            </a>
        </div>

    </div>

</div>