<div class="row arriba text-rigth">
    <div class="col-12">
        <img class="logo" src="./assets/img/logo_cortado.svg">
    </div>
</div>

<div class="row logs">

    <div class="col-10 offset-1 col-md-6 offset-md-3 ">
        <!-- FORMULARIO WEB -->
        <div *ngIf="!showPassword" class="animated fadeInLeft">
            <form (ngSubmit)="validarMail(f)" #f="ngForm">
                <input type="email" class="form-control" name="mail" [(ngModel)]="mail" placeholder="Email" minlength="4" required>

                <button type="submit" class="btn btn-primary btn-block mt-2 mb-4">
                      Siguiente
                 </button>
            </form>

        </div>

        <div *ngIf="showPassword" class="animated fadeInRight">
            <form (ngSubmit)="validarPass(f)" #f="ngForm">
                <input type="password" class="form-control" name="pass" [(ngModel)]="pass" placeholder="Ingresa tu password" minlength="4" required>

                <button type="submit" class="btn btn-primary btn-block mt-2 mb-4">
                                        Entrar
                </button>
            </form>

        </div>
        <!-- FIN FORMULARIO WEB-->
    </div>
</div>