<div class="row arriba text-rigth">
    <div class="col-12 col-md-8 izq">
        <img src="./assets/img/logo2.svg" width="50%" class="chef">
    </div>

    <div class="col-12 col-md-4 der">
        <!-- FORMULARIO WEB -->

        <h1>Intranet</h1>
        <div *ngIf="!showPassword" class="animated fadeIn">
            <form (ngSubmit)="validarMail(f)" #f="ngForm">
                <input type="email" class="form-control" name="mail" [(ngModel)]="mail" placeholder="Email" minlength="4" required>

                <button type="submit" class="btn btn-primary btn-block mt-2 mb-4">
                      Siguiente
                 </button>
            </form>

        </div>

        <div *ngIf="showPassword" class="animated fadeInRight">
            <form (ngSubmit)="validarPass(f)" #f="ngForm">
                <input type="password" class="form-control" name="pass" [(ngModel)]="pass" placeholder="Ingresa tu password" minlength="4" required>

                <button type="submit" class="btn btn-primary btn-block mt-2 mb-4">
                                        Entrar
                </button>
            </form>

        </div>
        <!-- FIN FORMULARIO WEB-->
    </div>
</div>