.header {
    padding: 20px;
}

.header h1 {
    color: #5878B0;
    font-size: 3em;
    font-weight: 700;
}

.buscador {
    border-top: 2px solid white;
    padding-top: 10px;
}

.boton {
    margin-top: 30px;
}