/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Titillium Web', sans-serif;
}

.pointer {
    cursor: pointer;
}

.f_black {
    background-color: black;
}

.f_pink {
    background-color: #F3507D;
}

.f_azul {
    background-color: #F3507D;
}

.f_gris {
    background-color: #EAEAEA;
}

.f_white {
    background-color: white;
}

.fondoModif {
    background-color: rgba(0, 5, 46, 0.6);
    position: fixed;
    top: 0;
    z-index: 1040;
    height: 100vh;
    width: 100%;
    margin-left: 0;
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}