/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Titillium Web', sans-serif;
}

.pointer {
    cursor: pointer;
}

.pad20 {
    padding: 20px;
}

.f_black {
    background-color: black;
}

.f_pink {
    background-color: #F3507D;
}

.f_azul {
    background-color: #F3507D;
}

.f_gris {
    background-color: #EAEAEA;
}

.f_white {
    background-color: white;
}

.f_oscuro {
    background-color: #1B1D27;
}

.headerTitulo {
    padding: 20px;
}

.headerTitulo h1 {
    color: #5878B0;
    font-size: 3em;
    font-weight: 700;
    line-height: 0.8em;
}

.buscador {
    border-top: 2px solid white;
    padding-top: 10px;
}

.fondoModif {
    background-color: rgba(0, 5, 46, 0.6);
    position: fixed;
    top: 0;
    z-index: 1040;
    height: 100vh;
    width: 100%;
    margin-left: 0;
}

.botonMargen {
    margin-top: 31px;
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}